@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}
/* component */

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-light {
  background: white;
  color: black;
}
/* layout */
.header {
  background-color: black;
  color: #d1d1d1;
}

.intro {
  background-image: url("img/background-img.png");
  color: #ffffff;
  padding: 160px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

/* page */
.banner {
  background-color: black;
  color: white;
}

.banner-title-strong {
  display: block;
  text-align: right;
}

.introduc {
  width: 526px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.jce {
  justify-content: flex-end;
}

.jcb {
  justify-content: space-between;
}

.jca {
  justify-content: space-around;
}

.alc {
  align-items: center;
}

.d-flex {
  display: flex;
}
.container {
  width: 1296px;
  margin: 0 auto;
}

.typo {
  font-size: 64px;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 40px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.text-primary {
  color: #00ffa3;
}
