@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}
/* component */

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-light {
  background: white;
  color: black;
}

.btn-dark {
  background: black;
  color: white;
}

/* layout */
.header {
  background-color: black;
  color: #d1d1d1;
}

.intro {
  background-image: url("img/background-img.png");
  color: #ffffff;
  padding: 160px 0px;
}

.about {
  background-color: white;
  padding: 160px;
}

.contact {
  padding: 96px 0px;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  color: #ffffff;
}

.project {
  background-color: white;
  padding: 160px 0;
}

.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

/* page */
.banner {
  background-color: black;
  color: white;
}

.banner-title-strong {
  display: block;
  text-align: right;
}

.intro-desc {
  width: 526px;
}

.about-desc {
  width: 526px;
}

.about-list {
  width: 636px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 24px;
}

.about-list li {
  width: calc(50% - 12px);
  box-shadow: 4px 4px 4px 0px rgb(0, 0, 0, 0.08);
  border: 1px solid #e3e3e3;
  padding: 16px;
}

.solial-media {
  width: 526px;
  justify-content: space-between;
}

.social-link {
  border-radius: 40px;
  /* transition: 1s; */
}

.social-link:hover {
  box-shadow: 0px 0px 16px 3px #9094ffe5;
}

.p-r {
  width: 856px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-r-desc {
  width: 636px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* 避免拉伸 */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: #ffffff 3px solid; */
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  /* max-width: 100%; */
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.jce {
  justify-content: flex-end;
}

.jcb {
  justify-content: space-between;
}

.jca {
  justify-content: space-around;
}

.alc {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}
.container {
  width: 1296px;
  margin: 0 auto;
}

.typo {
  font-size: 64px;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 40px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.text-primary {
  color: #00ffa3;
}

.mb-4 {
  margin-bottom: 4px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.ml-550 {
  margin-left: 550px;
}
